Needed districts:
33, 79, 84
 
https://www.schooldigger.com/go/NY/districtrank.aspx?y=2007

<br>New York District 2: https://www.schooldigger.com/go/NY/district/00077/search.aspx<br>
<br>New York District 10: https://www.schooldigger.com/go/NY/district/00087/search.aspx<br>
<br>New York District 31: https://www.schooldigger.com/go/NY/district/00103/search.aspx<br>
<br>New York District 9: https://www.schooldigger.com/go/NY/district/00086/search.aspx<br>
<br>New York District 27: https://www.schooldigger.com/go/NY/district/00123/search.aspx<br>
<br>New York District 11: https://www.schooldigger.com/go/NY/district/00088/search.aspx<br>
<br>New York District 24: https://www.schooldigger.com/go/NY/district/00098/search.aspx<br>
<br>New York District 8: https://www.schooldigger.com/go/NY/district/00085/search.aspx<br>
<br>New York District 1: https://www.schooldigger.com/go/NY/district/00076/search.aspx<br>
<br>New York District 26: https://www.schooldigger.com/go/NY/district/00099/search.aspx<br>
<br>New York District 25: https://www.schooldigger.com/go/NY/district/00122/search.aspx<br>
<br>New York District 22: https://www.schooldigger.com/go/NY/district/00153/search.aspx<br>
<br>New York District 20: https://www.schooldigger.com/go/NY/district/00151/search.aspx<br>
<br>New York District 28: https://www.schooldigger.com/go/NY/district/00100/search.aspx<br>
<br>New York District 30: https://www.schooldigger.com/go/NY/district/00102/search.aspx<br>
<br>New York District 3: https://www.schooldigger.com/go/NY/district/00078/search.aspx<br>
<br>New York District 21: https://www.schooldigger.com/go/NY/district/00152/search.aspx<br>
<br>New York District 15: https://www.schooldigger.com/go/NY/district/00092/search.aspx<br>
<br>New York District 18: https://www.schooldigger.com/go/NY/district/00096/search.aspx<br>
<br>New York District 29: https://www.schooldigger.com/go/NY/district/00101/search.aspx<br>
<br>New York District 4: https://www.schooldigger.com/go/NY/district/00079/search.aspx<br>
<br>New York District 13: https://www.schooldigger.com/go/NY/district/00091/search.aspx<br>
<br>New York District 14: https://www.schooldigger.com/go/NY/district/00119/search.aspx<br>
<br>New York District 23: https://www.schooldigger.com/go/NY/district/00121/search.aspx<br>
<br>New York District 19: https://www.schooldigger.com/go/NY/district/00120/search.aspx<br>
<br>New York District 17: https://www.schooldigger.com/go/NY/district/00095/search.aspx<br>
<br>New York District 32: https://www.schooldigger.com/go/NY/district/00097/search.aspx<br>
<br>New York District 5: https://www.schooldigger.com/go/NY/district/00081/search.aspx<br>
<br>New York District 6: https://www.schooldigger.com/go/NY/district/00083/search.aspx<br>
<br>New York District 16: https://www.schooldigger.com/go/NY/district/00094/search.aspx<br>
<br>New York District 12: https://www.schooldigger.com/go/NY/district/00090/search.aspx<br>
<br>New York District 7: https://www.schooldigger.com/go/NY/district/00084/search.aspx<br>

In [1]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

### **New York District 1**

In [2]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d1 = "https://www.schooldigger.com/go/NY/district/00076/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d1 = urllib.request.Request(url_schools_d1)
html_schools_d1 = urllib.request.urlopen(request_schools_d1).read()

In [3]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d1 = BeautifulSoup(html_schools_d1,'html.parser')
main_table_d1 = soup_d1.find("div",attrs={'class':'bsRTable'})
school_names_d1 = main_table_d1.find_all("span", class_="sName")

In [4]:
schools_d1 = []
for school in school_names_d1: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d1.append(record)
# schools_d1
# len(schools_d1)

In [39]:
# Make school list to a dataframe
d1_schools = pd.DataFrame(schools_d1)

In [6]:
# this gives me the links in the rows that go with the school names
school_links_d1 = []
link_list_d1 = main_table_d1.find_all('a',href=True)
for data in link_list_d1:
  link = data['href']
  school_links_d1.append(link)
print(len(school_links_d1))
links_d1 = list(dict.fromkeys(school_links_d1)) # making a unique list from the dictionary of links
len(links_d1), links_d1[0] # previewing size and first url

140

(34, 'https://www.schooldigger.com/go/NY/schools/0007600624/school.aspx')

In [7]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d1_links = pd.DataFrame(links_d1)

In [8]:
links_needed_d1 = d1_links[d1_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [44]:
# this give me only the links as a list
d1_list_links = links_needed_d1[0].values.tolist()
len(d1_list_links)

28

In [167]:
# split up the dataset to make it not time out
extracted_records_d1 = []

for each in d1_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d1.append(records)

In [12]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d1))
print(len(d1_list_links))

28
28

In [13]:
# make extracted_records_d1 to a dataframe
d1_df = pd.DataFrame(extracted_records_d1)

In [27]:
d1_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        500                  15.6              76.8%

In [26]:
# referencing the index with the website to make sure collecting correct numbers
d1_schools.head(1)

                               School Name
0  Lower East Side Preparatory High School

In [20]:
# source:
# https://www.edureka.co/community/43220/how-to-change-update-cell-value-in-python-pandas-dataframe
d1_df.at[1,'Enrollment'] = 678
d1_df.at[1,'Student-Teacher Ratio'] = 13.8
d1_df.at[17, 'Enrollment'] = 1729
d1_df.at[17, 'Student-Teacher Ratio'] = 18.7
d1_df.at[27, 'Enrollment'] = 189
d1_df.at[27, 'Student-Teacher Ratio'] = 12.9

In [72]:
d1_df.head(2)

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        500                  15.6              76.8%
1        678                  13.8              65.3%

In [22]:
district_1 = pd.concat([d1_schools, d1_df], axis=1)

In [28]:
district_1.head(1)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Lower East Side Preparatory High School,500,15.6,76.8%

In [24]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_1.to_csv('district_1.csv')

### **New York District 2**

In [29]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d2 = "https://www.schooldigger.com/go/NY/district/00077/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d2 = urllib.request.Request(url_schools_d2)
html_schools_d2 = urllib.request.urlopen(request_schools_d2).read()

In [30]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d2 = BeautifulSoup(html_schools_d2,'html.parser')
main_table_d2 = soup_d2.find("div",attrs={'class':'bsRTable'})
school_names_d2 = main_table_d2.find_all("span", class_="sName")

In [33]:
schools_d2 = []
for school in school_names_d2: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d2.append(record)
# schools_d2
len(schools_d2)

119

In [34]:
# Make school list to a dataframe
d2_schools = pd.DataFrame(schools_d2)

In [35]:
# this gives me the links in the rows that go with the school names
school_links_d2 = []
link_list_d2 = main_table_d2.find_all('a',href=True)
for data in link_list_d2:
  link = data['href']
  school_links_d2.append(link)
print(len(school_links_d2))
links_d2 = list(dict.fromkeys(school_links_d2)) # making a unique list from the dictionary of links
len(links_d2), links_d2[0] # previewing size and first url

595

(145, 'https://www.schooldigger.com/go/NY/schools/0007700116/school.aspx')

In [36]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d2_links = pd.DataFrame(links_d2)

In [40]:
links_needed_d2 = d2_links[d2_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [43]:
# this give me only the links as a list
d2_list_links = links_needed_d2[0].values.tolist()
len(d2_list_links)

119

In [168]:
# split up the dataset to make it not time out
extracted_records_d2 = []

for each in d2_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d2.append(records)

In [169]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d2))
print(len(d2_list_links))

119
119

In [65]:
# make extracted_records_d1 to a dataframe
d2_df = pd.DataFrame(extracted_records_d2)
d2_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      1,201                  17.4              81.1%

In [66]:
d2_schools.head(1)

                             School Name
0  High School For Environmental Studies

In [68]:
# source:
# https://www.edureka.co/community/43220/how-to-change-update-cell-value-in-python-pandas-dataframe
d2_df.at[1,'Enrollment'] = 349
d2_df.at[1,'Student-Teacher Ratio'] = 13.9
d2_df.at[3, 'Enrollment'] = 451
d2_df.at[3, 'Student-Teacher Ratio'] = 14.0
d2_df.at[4, 'Enrollment'] = 335
d2_df.at[4, 'Student-Teacher Ratio'] = 15.7
d2_df.at[7, 'Enrollment'] = 540
d2_df.at[7, 'Student-Teacher Ratio'] = 17.4
d2_df.at[8, 'Enrollment'] = 291
d2_df.at[8, 'Student-Teacher Ratio'] = 22.3
d2_df.at[16, 'Enrollment'] = 491
d2_df.at[16, 'Student-Teacher Ratio'] = 19.6
d2_df.at[45, 'Enrollment'] = 744
d2_df.at[45, 'Student-Teacher Ratio'] = 15.1
d2_df.at[48, 'Enrollment'] = 233
d2_df.at[48, 'Student-Teacher Ratio'] = 13.6
d2_df.at[53, 'Enrollment'] = 162
d2_df.at[53, 'Student-Teacher Ratio'] = 11.5
d2_df.at[77, 'Enrollment'] = 338
d2_df.at[77, 'Student-Teacher Ratio'] = 13.1
d2_df.at[84, 'Enrollment'] = 331
d2_df.at[84, 'Student-Teacher Ratio'] = 12.7
d2_df.at[87, 'Enrollment'] = 239
d2_df.at[87, 'Student-Teacher Ratio'] = 12.5
d2_df.at[99, 'Enrollment'] = 349
d2_df.at[99, 'Student-Teacher Ratio'] = 12.4
d2_df.at[107, 'Enrollment'] = 494
d2_df.at[107, 'Student-Teacher Ratio'] = 13.0
d2_df.at[118, 'Enrollment'] = 56
d2_df.at[118, 'Student-Teacher Ratio'] = 9.3

In [71]:
d2_df.head(2)

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      1,201                  17.4              81.1%
1        349                  13.9              87.7%

In [74]:
district_2 = pd.concat([d2_schools, d2_df], axis=1)
district_2.head(1)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,High School For Environmental Studies,"1,201",17.4,81.1%

In [75]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_2.to_csv('district_2.csv')

### **New York District 3**

In [78]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d3 = "https://www.schooldigger.com/go/NY/district/00078/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d3 = urllib.request.Request(url_schools_d3)
html_schools_d3 = urllib.request.urlopen(request_schools_d3).read()

In [80]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d3 = BeautifulSoup(html_schools_d3,'html.parser')
main_table_d3 = soup_d3.find("div",attrs={'class':'bsRTable'})
school_names_d3 = main_table_d3.find_all("span", class_="sName")

In [81]:
schools_d3 = []
for school in school_names_d3: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d3.append(record)
# schools_d3
len(schools_d3)

44

In [82]:
# Make school list to a dataframe
d3_schools = pd.DataFrame(schools_d3)

In [83]:
# this gives me the links in the rows that go with the school names
school_links_d3 = []
link_list_d3 = main_table_d3.find_all('a',href=True)
for data in link_list_d3:
  link = data['href']
  school_links_d3.append(link)
print(len(school_links_d3))
links_d3 = list(dict.fromkeys(school_links_d3)) # making a unique list from the dictionary of links
len(links_d3), links_d3[0] # previewing size and first url

220

(53, 'https://www.schooldigger.com/go/NY/schools/0007800592/school.aspx')

In [84]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d3_links = pd.DataFrame(links_d3)

In [85]:
links_needed_d3 = d3_links[d3_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [86]:
# this give me only the links as a list
d3_list_links = links_needed_d3[0].values.tolist()
len(d3_list_links)

44

In [170]:
# split up the dataset to make it not time out
extracted_records_d3 = []

for each in d3_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d3.append(records)

In [88]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d3))
print(len(d3_list_links))

44
44

In [93]:
# make extracted_records_d1 to a dataframe
d3_df = pd.DataFrame(extracted_records_d3)
d3_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      1,380                  22.5              25.3%

In [92]:
d3_schools.head(1)

          School Name
0  Beacon High School

In [138]:
d3_df.at[36,'Enrollment'] = 313
d3_df.at[36,'Student-Teacher Ratio'] = 13.0

In [139]:
district_3 = pd.concat([d3_schools, d3_df], axis=1)
district_3.head(1)

          School Name Enrollment Student-Teacher Ratio Free-Reduced Lunch
0  Beacon High School      1,380                  22.5              25.3%

In [140]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_3.to_csv('district_3.csv')

### **New York District 4**

In [100]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d4 = "https://www.schooldigger.com/go/NY/district/00079/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d4 = urllib.request.Request(url_schools_d4)
html_schools_d4 = urllib.request.urlopen(request_schools_d4).read()

In [101]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d4 = BeautifulSoup(html_schools_d4,'html.parser')
main_table_d4 = soup_d4.find("div",attrs={'class':'bsRTable'})
school_names_d4 = main_table_d4.find_all("span", class_="sName")

In [102]:
schools_d4 = []
for school in school_names_d4: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d4.append(record)
# schools_d4
len(schools_d4)

28

In [103]:
# Make school list to a dataframe
d4_schools = pd.DataFrame(schools_d4)

In [104]:
# this gives me the links in the rows that go with the school names
school_links_d4 = []
link_list_d4 = main_table_d4.find_all('a',href=True)
for data in link_list_d4:
  link = data['href']
  school_links_d4.append(link)
print(len(school_links_d4))
links_d4 = list(dict.fromkeys(school_links_d4)) # making a unique list from the dictionary of links
len(links_d4), links_d4[0] # previewing size and first url

140

(33, 'https://www.schooldigger.com/go/NY/schools/0007900593/school.aspx')

In [105]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d4_links = pd.DataFrame(links_d4)

In [106]:
links_needed_d4 = d4_links[d4_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [107]:
# this give me only the links as a list
d4_list_links = links_needed_d4[0].values.tolist()
len(d4_list_links)

28

In [108]:
# split up the dataset to make it not time out
extracted_records_d4 = []

for each in d4_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d4.append(records)

In [109]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d4))
print(len(d4_list_links))

28
28

In [115]:
# make extracted_records_d1 to a dataframe
d4_df = pd.DataFrame(extracted_records_d4)
d4_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        400                  13.3              84.5%

In [116]:
d4_schools.head(1)

             School Name
0  Park East High School

In [134]:
d4_df.at[10,'Enrollment'] = 303
d4_df.at[10,'Student-Teacher Ratio'] = 6.3

In [135]:
d4_df.head(1)

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        400                  13.3              84.5%

In [136]:
district_4 = pd.concat([d4_schools, d4_df], axis=1)
district_4.head(1)

             School Name Enrollment Student-Teacher Ratio Free-Reduced Lunch
0  Park East High School        400                  13.3              84.5%

In [137]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_4.to_csv('district_4.csv')

### **New York District 5**

In [121]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d5 = "https://www.schooldigger.com/go/NY/district/00081/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d5 = urllib.request.Request(url_schools_d5)
html_schools_d5 = urllib.request.urlopen(request_schools_d5).read()

In [122]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d5 = BeautifulSoup(html_schools_d5,'html.parser')
main_table_d5 = soup_d5.find("div",attrs={'class':'bsRTable'})
school_names_d5 = main_table_d5.find_all("span", class_="sName")

In [123]:
schools_d5 = []
for school in school_names_d5: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d5.append(record)
# schools_d5
len(schools_d5)

27

In [124]:
# Make school list to a dataframe
d5_schools = pd.DataFrame(schools_d5)

In [125]:
# this gives me the links in the rows that go with the school names
school_links_d5 = []
link_list_d5 = main_table_d5.find_all('a',href=True)
for data in link_list_d5:
  link = data['href']
  school_links_d5.append(link)
print(len(school_links_d5))
links_d5 = list(dict.fromkeys(school_links_d5)) # making a unique list from the dictionary of links
len(links_d5), links_d5[0] # previewing size and first url

135

(36, 'https://www.schooldigger.com/go/NY/schools/0008100701/school.aspx')

In [126]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d5_links = pd.DataFrame(links_d5)

In [127]:
links_needed_d5 = d5_links[d5_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [128]:
# this give me only the links as a list
d5_list_links = links_needed_d5[0].values.tolist()
len(d5_list_links)

27

In [129]:
# split up the dataset to make it not time out
extracted_records_d5 = []

for each in d5_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d5.append(records)

In [130]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d5))
print(len(d5_list_links))

27
27

In [142]:
# make extracted_records_d1 to a dataframe
d5_df = pd.DataFrame(extracted_records_d5)
d5_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      1,360                  18.2              76.4%

In [143]:
d5_schools.head(1)

                  School Name
0  Frederick Douglass Academy

In [145]:
d5_df.at[25,'Enrollment'] = 320
d5_df.at[25,'Student-Teacher Ratio'] = 10.3

In [147]:
district_5 = pd.concat([d5_schools, d5_df], axis=1)
district_5.head(1)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Frederick Douglass Academy,"1,360",18.2,76.4%

In [148]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_5.to_csv('district_5.csv')

### **New York District 6**

In [41]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d6 = "https://www.schooldigger.com/go/NY/district/00083/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d6 = urllib.request.Request(url_schools_d6)
html_schools_d6 = urllib.request.urlopen(request_schools_d6).read()

In [42]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d6 = BeautifulSoup(html_schools_d6,'html.parser')
main_table_d6 = soup_d6.find("div",attrs={'class':'bsRTable'})
school_names_d6 = main_table_d6.find_all("span", class_="sName")

In [43]:
schools_d6 = []
for school in school_names_d6: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d6.append(record)
# schools_d6
len(schools_d6)

46

In [44]:
# Make school list to a dataframe
d6_schools = pd.DataFrame(schools_d6)

In [45]:
# this gives me the links in the rows that go with the school names
school_links_d6 = []
link_list_d6 = main_table_d6.find_all('a',href=True)
for data in link_list_d6:
  link = data['href']
  school_links_d6.append(link)
print(len(school_links_d6))
links_d6 = list(dict.fromkeys(school_links_d6)) # making a unique list from the dictionary of links
len(links_d6), links_d6[0] # previewing size and first url

230

(55, 'https://www.schooldigger.com/go/NY/schools/0008300519/school.aspx')

In [46]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d6_links = pd.DataFrame(links_d6)

In [47]:
links_needed_d6 = d6_links[d6_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [48]:
# this give me only the links as a list
d6_list_links = links_needed_d6[0].values.tolist()
len(d6_list_links)

46

In [49]:
# split up the dataset to make it not time out
extracted_records_d6 = []

for each in d6_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d6.append(records)

In [50]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d6))
print(len(d6_list_links))

46
46

In [51]:
# make extracted_records_d1 to a dataframe
d6_df = pd.DataFrame(extracted_records_d6)
d6_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        593                  13.4                85%

In [52]:
d6_schools.head(1)

        School Name
0  Ps 5 Ellen Lurie

In [53]:
d6_df.at[38,'Enrollment'] = 820
d6_df.at[38,'Student-Teacher Ratio'] = 12.8

In [54]:
district_6 = pd.concat([d6_schools, d6_df], axis=1)
district_6.head(1)

        School Name Enrollment Student-Teacher Ratio Free-Reduced Lunch
0  Ps 5 Ellen Lurie        593                  13.4                85%

In [55]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_6.to_csv('district_6.csv')

### **New York District 7**

In [3]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d7 = "https://www.schooldigger.com/go/NY/district/00084/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d7 = urllib.request.Request(url_schools_d7)
html_schools_d7 = urllib.request.urlopen(request_schools_d7).read()

In [4]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d7 = BeautifulSoup(html_schools_d7,'html.parser')
main_table_d7 = soup_d7.find("div",attrs={'class':'bsRTable'})
school_names_d7 = main_table_d7.find_all("span", class_="sName")

In [5]:
schools_d7 = []
for school in school_names_d7: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d7.append(record)
# schools_d7
len(schools_d7)

40

In [6]:
# Make school list to a dataframe
d7_schools = pd.DataFrame(schools_d7)

In [7]:
# this gives me the links in the rows that go with the school names
school_links_d7 = []
link_list_d7 = main_table_d7.find_all('a',href=True)
for data in link_list_d7:
  link = data['href']
  school_links_d7.append(link)
print(len(school_links_d7))
links_d7 = list(dict.fromkeys(school_links_d7)) # making a unique list from the dictionary of links
len(links_d7), links_d7[0] # previewing size and first url

200

(47, 'https://www.schooldigger.com/go/NY/schools/0008400749/school.aspx')

In [9]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d7_links = pd.DataFrame(links_d7)

In [10]:
links_needed_d7 = d7_links[d7_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [11]:
# this give me only the links as a list
d7_list_links = links_needed_d7[0].values.tolist()
len(d7_list_links)

40

In [12]:
# split up the dataset to make it not time out
extracted_records_d7 = []

for each in d7_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d7.append(records)

In [13]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d7))
print(len(d7_list_links))

40
40

In [16]:
# make extracted_records_d1 to a dataframe
d7_df = pd.DataFrame(extracted_records_d7)
d7_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      99.4%                   486              87.2%

In [17]:
d7_schools.head(1)

                                         School Name
0  University Heights Secondary School-Bronx Comm...

In [18]:
d7_df.at[0,'Enrollment'] = 486
d7_df.at[0,'Student-Teacher Ratio'] = 20.2
d7_df.at[19,'Enrollment'] = 339
d7_df.at[19,'Student-Teacher Ratio'] = 14.7
d7_df.at[30,'Enrollment'] = 384
d7_df.at[30,'Student-Teacher Ratio'] = 14.2

In [21]:
district_7 = pd.concat([d7_schools, d7_df], axis=1)
district_7.head(1)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,University Heights Secondary School-Bronx Comm...,486,20.2,87.2%

In [56]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_7.to_csv('district_7.csv')

### **New York District 8**

In [23]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d8 = "https://www.schooldigger.com/go/NY/district/00085/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d8 = urllib.request.Request(url_schools_d8)
html_schools_d8 = urllib.request.urlopen(request_schools_d8).read()

In [24]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d8 = BeautifulSoup(html_schools_d8,'html.parser')
main_table_d8 = soup_d8.find("div",attrs={'class':'bsRTable'})
school_names_d8 = main_table_d8.find_all("span", class_="sName")

In [25]:
schools_d8 = []
for school in school_names_d8: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d8.append(record)
# schools_d8
len(schools_d8)

52

In [26]:
# Make school list to a dataframe
d8_schools = pd.DataFrame(schools_d8)

In [27]:
# this gives me the links in the rows that go with the school names
school_links_d8 = []
link_list_d8 = main_table_d8.find_all('a',href=True)
for data in link_list_d8:
  link = data['href']
  school_links_d8.append(link)
print(len(school_links_d8))
links_d8 = list(dict.fromkeys(school_links_d8)) # making a unique list from the dictionary of links
len(links_d8), links_d8[0] # previewing size and first url

260

(63, 'https://www.schooldigger.com/go/NY/schools/0008501964/school.aspx')

In [28]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d8_links = pd.DataFrame(links_d8)

In [29]:
links_needed_d8 = d8_links[d8_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [30]:
# this give me only the links as a list
d8_list_links = links_needed_d8[0].values.tolist()
len(d8_list_links)

52

In [31]:
# split up the dataset to make it not time out
extracted_records_d8 = []

for each in d8_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d8.append(records)

In [32]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d8))
print(len(d8_list_links))

52
52

In [37]:
# make extracted_records_d1 to a dataframe
d8_df = pd.DataFrame(extracted_records_d8)
d8_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        725                  12.0                81%

In [38]:
d8_schools.head(1)

                    School Name
0  Herbert H Lehman High School

In [35]:
d8_df.at[51,'Enrollment'] = 100
d8_df.at[51,'Student-Teacher Ratio'] = 16.6

In [39]:
district_8 = pd.concat([d8_schools, d8_df], axis=1)
district_8.head(1)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Herbert H Lehman High School,725,12.0,81%

In [58]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_8.to_csv('district_8.csv')

### **New York District 9**

In [59]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d9 = "https://www.schooldigger.com/go/NY/district/00086/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d9 = urllib.request.Request(url_schools_d9)
html_schools_d9 = urllib.request.urlopen(request_schools_d9).read()

In [60]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d9 = BeautifulSoup(html_schools_d9,'html.parser')
main_table_d9 = soup_d9.find("div",attrs={'class':'bsRTable'})
school_names_d9 = main_table_d9.find_all("span", class_="sName")

In [61]:
schools_d9 = []
for school in school_names_d9: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d9.append(record)
# schools_d9
len(schools_d9)

67

In [62]:
# Make school list to a dataframe
d9_schools = pd.DataFrame(schools_d9)

In [63]:
# this gives me the links in the rows that go with the school names
school_links_d9 = []
link_list_d9 = main_table_d9.find_all('a',href=True)
for data in link_list_d9:
  link = data['href']
  school_links_d9.append(link)
print(len(school_links_d9))
links_d9 = list(dict.fromkeys(school_links_d9)) # making a unique list from the dictionary of links
len(links_d9), links_d9[0] # previewing size and first url

335

(76, 'https://www.schooldigger.com/go/NY/schools/0008600728/school.aspx')

In [64]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d9_links = pd.DataFrame(links_d9)

In [65]:
links_needed_d9 = d9_links[d9_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [66]:
# this give me only the links as a list
d9_list_links = links_needed_d9[0].values.tolist()
len(d9_list_links)

67

In [67]:
# split up the dataset to make it not time out
extracted_records_d9 = []

for each in d9_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d9.append(records)

In [68]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d9))
print(len(d9_list_links))

67
67

In [80]:
# make extracted_records_d1 to a dataframe
d9_df = pd.DataFrame(extracted_records_d9)
d9_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      98.2%                   266              87.6%

In [77]:
d9_schools.head(1)

  School Name
0      Ps 170

In [82]:
d9_df.at[0,'Enrollment'] = 266
d9_df.at[0,'Student-Teacher Ratio'] = 12.6
d9_df.at[12,'Enrollment'] = 146
d9_df.at[12,'Student-Teacher Ratio'] = 12.1
d9_df.at[30,'Enrollment'] = 401
d9_df.at[30,'Student-Teacher Ratio'] = 12.9
d9_df.at[60,'Enrollment'] = 378
d9_df.at[60,'Student-Teacher Ratio'] = 13.4

In [83]:
district_9 = pd.concat([d9_schools, d9_df], axis=1)
district_9.head(1)

  School Name Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      Ps 170        266                  12.6              87.6%

In [84]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_9.to_csv('district_9.csv')

### **New York District 10**

In [85]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d10 = "https://www.schooldigger.com/go/NY/district/00087/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d10 = urllib.request.Request(url_schools_d10)
html_schools_d10 = urllib.request.urlopen(request_schools_d10).read()

In [86]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d10 = BeautifulSoup(html_schools_d10,'html.parser')
main_table_d10 = soup_d10.find("div",attrs={'class':'bsRTable'})
school_names_d10 = main_table_d10.find_all("span", class_="sName")

In [87]:
schools_d10 = []
for school in school_names_d10: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d10.append(record)
# schools_d10
len(schools_d10)

85

In [88]:
# Make school list to a dataframe
d10_schools = pd.DataFrame(schools_d10)

In [89]:
# this gives me the links in the rows that go with the school names
school_links_d10 = []
link_list_d10 = main_table_d10.find_all('a',href=True)
for data in link_list_d10:
  link = data['href']
  school_links_d10.append(link)
print(len(school_links_d10))
links_d10 = list(dict.fromkeys(school_links_d10)) # making a unique list from the dictionary of links
len(links_d10), links_d10[0] # previewing size and first url

425

(97, 'https://www.schooldigger.com/go/NY/schools/0008700127/school.aspx')

In [90]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d10_links = pd.DataFrame(links_d10)

In [91]:
links_needed_d10 = d10_links[d10_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [92]:
# this give me only the links as a list
d10_list_links = links_needed_d10[0].values.tolist()
len(d10_list_links)

85

In [93]:
# split up the dataset to make it not time out
extracted_records_d10 = []

for each in d10_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d10.append(records)

In [94]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d10))
print(len(d10_list_links))

85
85

In [101]:
# make extracted_records_d1 to a dataframe
d10_df = pd.DataFrame(extracted_records_d10)
d10_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        219                  13.6              89.5%

In [102]:
d10_schools.head(1)

              School Name
0  Ps 51 Bronx New School

In [103]:
d10_df.at[3,'Enrollment'] = 259
d10_df.at[3,'Student-Teacher Ratio'] = 11.7
d10_df.at[40,'Enrollment'] = 307
d10_df.at[40,'Student-Teacher Ratio'] = 14.6
d10_df.at[72,'Enrollment'] = 329
d10_df.at[72,'Student-Teacher Ratio'] = 14.9
d10_df.at[76,'Enrollment'] = 535
d10_df.at[76,'Student-Teacher Ratio'] = 14.0
d10_df.at[79,'Enrollment'] = 333
d10_df.at[79,'Student-Teacher Ratio'] = 13.3

In [109]:
district_10 = pd.concat([d10_schools, d10_df], axis=1)
district_10.head(1)

              School Name Enrollment Student-Teacher Ratio Free-Reduced Lunch
0  Ps 51 Bronx New School        219                  13.6              89.5%

In [110]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_10.to_csv('district_10.csv')

### **New York District 11**

In [2]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d11 = "https://www.schooldigger.com/go/NY/district/00088/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d11 = urllib.request.Request(url_schools_d11)
html_schools_d11 = urllib.request.urlopen(request_schools_d11).read()

In [4]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d11 = BeautifulSoup(html_schools_d11,'html.parser')
main_table_d11 = soup_d11.find("div",attrs={'class':'bsRTable'})
school_names_d11 = main_table_d11.find_all("span", class_="sName")

In [5]:
schools_d11 = []
for school in school_names_d11: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d11.append(record)
# schools_d11
len(schools_d11)

62

In [6]:
# Make school list to a dataframe
d11_schools = pd.DataFrame(schools_d11)

In [7]:
# this gives me the links in the rows that go with the school names
school_links_d11 = []
link_list_d11 = main_table_d11.find_all('a',href=True)
for data in link_list_d11:
  link = data['href']
  school_links_d11.append(link)
print(len(school_links_d11))
links_d11 = list(dict.fromkeys(school_links_d11)) # making a unique list from the dictionary of links
len(links_d11), links_d11[0] # previewing size and first url

310

(73, 'https://www.schooldigger.com/go/NY/schools/0008800158/school.aspx')

In [8]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d11_links = pd.DataFrame(links_d11)

In [9]:
links_needed_d11 = d11_links[d11_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [10]:
# this give me only the links as a list
d11_list_links = links_needed_d11[0].values.tolist()
len(d11_list_links)

62

In [11]:
# split up the dataset to make it not time out
extracted_records_d11 = []

for each in d11_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d11.append(records)

In [12]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d11))
print(len(d11_list_links))

62
62

In [21]:
# make extracted_records_d1 to a dataframe
d11_df = pd.DataFrame(extracted_records_d11)
d11_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        437                  12.4              80.3%

In [22]:
d11_schools.head(1)

                School Name
0  Ps 178 Dr Selman Waksman

In [24]:
d11_df.at[35,'Enrollment'] = 390
d11_df.at[35,'Student-Teacher Ratio'] = 12.1
d11_df.at[60,'Enrollment'] = 124
d11_df.at[60,'Student-Teacher Ratio'] = 12.3
d11_df.at[61,'Enrollment'] = 163
d11_df.at[61,'Student-Teacher Ratio'] = 12.5

In [26]:
district_11 = pd.concat([d11_schools, d11_df], axis=1)
district_11.tail(1)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
61,Stem Bridge School (The),163,12.5,87.7%

In [27]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_11.to_csv('district_11.csv')

### **New York District 12**

In [28]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d12 = "https://www.schooldigger.com/go/NY/district/00090/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d12 = urllib.request.Request(url_schools_d12)
html_schools_d12 = urllib.request.urlopen(request_schools_d12).read()

In [29]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d12 = BeautifulSoup(html_schools_d12,'html.parser')
main_table_d12 = soup_d12.find("div",attrs={'class':'bsRTable'})
school_names_d12 = main_table_d12.find_all("span", class_="sName")

In [30]:
schools_d12 = []
for school in school_names_d12: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d12.append(record)
# schools_d12
len(schools_d12)

46

In [31]:
# Make school list to a dataframe
d12_schools = pd.DataFrame(schools_d12)

In [33]:
# this gives me the links in the rows that go with the school names
school_links_d12 = []
link_list_d12 = main_table_d12.find_all('a',href=True)
for data in link_list_d12:
  link = data['href']
  school_links_d12.append(link)
print(len(school_links_d12))
links_d12 = list(dict.fromkeys(school_links_d12)) # making a unique list from the dictionary of links
len(links_d12), links_d12[0] # previewing size and first url

230

(54, 'https://www.schooldigger.com/go/NY/schools/0009000227/school.aspx')

In [34]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d12_links = pd.DataFrame(links_d12)

In [35]:
links_needed_d12 = d12_links[d12_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [36]:
# this give me only the links as a list
d12_list_links = links_needed_d12[0].values.tolist()
len(d12_list_links)

46

In [37]:
# split up the dataset to make it not time out
extracted_records_d12 = []

for each in d12_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d12.append(records)

In [38]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d12))
print(len(d12_list_links))

46
46

In [45]:
# make extracted_records_d1 to a dataframe
d12_df = pd.DataFrame(extracted_records_d12)
d12_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      1,084                  15.0              87.5%

In [46]:
d12_schools.head(1)

  School Name
0      Ps 214

In [48]:
d12_df.at[3,'Enrollment'] = 458
d12_df.at[3,'Student-Teacher Ratio'] = 14.3
d12_df.at[35,'Enrollment'] = 470
d12_df.at[35,'Student-Teacher Ratio'] = 14.6
d12_df.at[39,'Enrollment'] = 180
d12_df.at[39,'Student-Teacher Ratio'] = 15.0

In [50]:
d12_df.head(1)

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      1,084                  15.0              87.5%

In [52]:
district_12 = pd.concat([d12_schools, d12_df], axis=1)
district_12.head(1)

  School Name Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      Ps 214      1,084                  15.0              87.5%

In [53]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_12.to_csv('district_12.csv')

### **New York District 13**

In [54]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d13 = "https://www.schooldigger.com/go/NY/district/00091/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d13 = urllib.request.Request(url_schools_d13)
html_schools_d13 = urllib.request.urlopen(request_schools_d13).read()

In [55]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d13 = BeautifulSoup(html_schools_d13,'html.parser')
main_table_d13 = soup_d13.find("div",attrs={'class':'bsRTable'})
school_names_d13 = main_table_d13.find_all("span", class_="sName")

In [56]:
schools_d13 = []
for school in school_names_d13: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d13.append(record)
# schools_d13
len(schools_d13)

40

In [57]:
# Make school list to a dataframe
d13_schools = pd.DataFrame(schools_d13)

In [58]:
# this gives me the links in the rows that go with the school names
school_links_d13 = []
link_list_d13 = main_table_d13.find_all('a',href=True)
for data in link_list_d13:
  link = data['href']
  school_links_d13.append(link)
print(len(school_links_d13))
links_d13 = list(dict.fromkeys(school_links_d13)) # making a unique list from the dictionary of links
len(links_d13), links_d13[0] # previewing size and first url

200

(49, 'https://www.schooldigger.com/go/NY/schools/0009100867/school.aspx')

In [59]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d13_links = pd.DataFrame(links_d13)

In [60]:
links_needed_d13 = d13_links[d13_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [61]:
# this give me only the links as a list
d13_list_links = links_needed_d13[0].values.tolist()
len(d13_list_links)

40

In [62]:
# split up the dataset to make it not time out
extracted_records_d13 = []

for each in d13_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d13.append(records)

In [63]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d13))
print(len(d13_list_links))

40
40

In [65]:
# make extracted_records_d1 to a dataframe
d13_df = pd.DataFrame(extracted_records_d13)
d13_df.head(2)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        557                  15.5              82.6%
1      89.4%                   354              80.8%

In [67]:
d13_schools.head(2)

                          School Name
0   Science Skills Center High School
1  Brooklyn International High School

In [68]:
d13_df.at[1,'Enrollment'] = 354
d13_df.at[1,'Student-Teacher Ratio'] = 15.0

In [69]:
d13_df.head(2)

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        557                  15.5              82.6%
1        354                    15              80.8%

In [70]:
district_13 = pd.concat([d13_schools, d13_df], axis=1)
district_13.head(2)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Science Skills Center High School,557,15.5,82.6%
1,Brooklyn International High School,354,15,80.8%

In [71]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_13.to_csv('district_13.csv')

### **New York District 14**

In [72]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d14 = "https://www.schooldigger.com/go/NY/district/00119/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d14 = urllib.request.Request(url_schools_d14)
html_schools_d14 = urllib.request.urlopen(request_schools_d14).read()

In [73]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d14 = BeautifulSoup(html_schools_d14,'html.parser')
main_table_d14 = soup_d14.find("div",attrs={'class':'bsRTable'})
school_names_d14 = main_table_d14.find_all("span", class_="sName")

In [74]:
schools_d14 = []
for school in school_names_d14: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d14.append(record)
# schools_d14
len(schools_d14)

38

In [75]:
# Make school list to a dataframe
d14_schools = pd.DataFrame(schools_d14)

In [76]:
# this gives me the links in the rows that go with the school names
school_links_d14 = []
link_list_d14 = main_table_d14.find_all('a',href=True)
for data in link_list_d14:
  link = data['href']
  school_links_d14.append(link)
print(len(school_links_d14))
links_d14 = list(dict.fromkeys(school_links_d14)) # making a unique list from the dictionary of links
len(links_d14), links_d14[0] # previewing size and first url

190

(46, 'https://www.schooldigger.com/go/NY/schools/0011900892/school.aspx')

In [77]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d14_links = pd.DataFrame(links_d14)

In [78]:
links_needed_d14 = d14_links[d14_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [79]:
# this give me only the links as a list
d14_list_links = links_needed_d14[0].values.tolist()
len(d14_list_links)

38

In [80]:
# split up the dataset to make it not time out
extracted_records_d14 = []

for each in d14_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d14.append(records)

In [81]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d14))
print(len(d14_list_links))

38
38

In [84]:
# make extracted_records_d1 to a dataframe
d14_df = pd.DataFrame(extracted_records_d14)
d14_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0     100.0%                   239                87%

In [85]:
d14_schools.head(1)

                               School Name
0  El Puente Academy For Peace And Justice

In [86]:
d14_df.at[0,'Enrollment'] = 239
d14_df.at[0,'Student-Teacher Ratio'] = 14.0
d14_df.at[27,'Enrollment'] = 128
d14_df.at[27,'Student-Teacher Ratio'] = 10.6
d14_df.at[35,'Enrollment'] = 494
d14_df.at[35,'Student-Teacher Ratio'] = 11.2

In [87]:
d14_df.head(2)

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        239                    14                87%
1        404                  10.9              80.4%

In [88]:
district_14 = pd.concat([d14_schools, d14_df], axis=1)
district_14.head(2)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,El Puente Academy For Peace And Justice,239,14,87%
1,Automotive High School,404,10.9,80.4%

In [89]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_14.to_csv('district_14.csv')

### **New York District 15**

In [90]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d15 = "https://www.schooldigger.com/go/NY/district/00092/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d15 = urllib.request.Request(url_schools_d15)
html_schools_d15 = urllib.request.urlopen(request_schools_d15).read()

In [91]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d15 = BeautifulSoup(html_schools_d15,'html.parser')
main_table_d15 = soup_d15.find("div",attrs={'class':'bsRTable'})
school_names_d15 = main_table_d15.find_all("span", class_="sName")

In [92]:
schools_d15 = []
for school in school_names_d15: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d15.append(record)
# schools_d15
len(schools_d15)

47

In [93]:
# Make school list to a dataframe
d15_schools = pd.DataFrame(schools_d15)

In [94]:
# this gives me the links in the rows that go with the school names
school_links_d15 = []
link_list_d15 = main_table_d15.find_all('a',href=True)
for data in link_list_d15:
  link = data['href']
  school_links_d15.append(link)
print(len(school_links_d15))
links_d15 = list(dict.fromkeys(school_links_d15)) # making a unique list from the dictionary of links
len(links_d15), links_d15[0] # previewing size and first url

235

(58, 'https://www.schooldigger.com/go/NY/schools/0009201377/school.aspx')

In [95]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d15_links = pd.DataFrame(links_d15)

In [96]:
links_needed_d15 = d15_links[d15_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [97]:
# this give me only the links as a list
d15_list_links = links_needed_d15[0].values.tolist()
len(d15_list_links)

47

In [98]:
# split up the dataset to make it not time out
extracted_records_d15 = []

for each in d15_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d15.append(records)

In [99]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d15))
print(len(d15_list_links))

47
47

In [103]:
# make extracted_records_d1 to a dataframe
d15_df = pd.DataFrame(extracted_records_d15)
d15_df[30:31]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
30      97.9%                   675              68.6%

In [104]:
d15_schools[30:31]

                       School Name
30  Brooklyn Collaborative Studies

In [105]:
d15_df.at[30,'Enrollment'] = 675
d15_df.at[30,'Student-Teacher Ratio'] = 11.2

In [107]:
d15_df[30:31]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
30        675                  11.2              68.6%

In [109]:
district_15 = pd.concat([d15_schools, d15_df], axis=1)
district_15[30:31]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
30,Brooklyn Collaborative Studies,675,11.2,68.6%

In [110]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_15.to_csv('district_15.csv')

### **New York District 16**

In [111]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d16 = "https://www.schooldigger.com/go/NY/district/00094/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d16 = urllib.request.Request(url_schools_d16)
html_schools_d16 = urllib.request.urlopen(request_schools_d16).read()

In [112]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d16 = BeautifulSoup(html_schools_d16,'html.parser')
main_table_d16 = soup_d16.find("div",attrs={'class':'bsRTable'})
school_names_d16 = main_table_d16.find_all("span", class_="sName")

In [113]:
schools_d16 = []
for school in school_names_d16: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d16.append(record)
# schools_d16
len(schools_d16)

24

In [114]:
# Make school list to a dataframe
d16_schools = pd.DataFrame(schools_d16)

In [115]:
# this gives me the links in the rows that go with the school names
school_links_d16 = []
link_list_d16 = main_table_d16.find_all('a',href=True)
for data in link_list_d16:
  link = data['href']
  school_links_d16.append(link)
print(len(school_links_d16))
links_d16 = list(dict.fromkeys(school_links_d16)) # making a unique list from the dictionary of links
len(links_d16), links_d16[0] # previewing size and first url

120

(32, 'https://www.schooldigger.com/go/NY/schools/0009401921/school.aspx')

In [116]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d16_links = pd.DataFrame(links_d16)

In [117]:
links_needed_d16 = d16_links[d16_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [118]:
# this give me only the links as a list
d16_list_links = links_needed_d16[0].values.tolist()
len(d16_list_links)

24

In [119]:
# split up the dataset to make it not time out
extracted_records_d16 = []

for each in d16_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d16.append(records)

In [120]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d16))
print(len(d16_list_links))

24
24

In [122]:
# make extracted_records_d1 to a dataframe
d16_df = pd.DataFrame(extracted_records_d16)
d16_df[17:18]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
17     100.0%                   169              85.8%

In [123]:
d16_schools[17:18]

                         School Name
17  Gotham Professional Arts Academy

In [124]:
d16_df.at[17,'Enrollment'] = 169
d16_df.at[17,'Student-Teacher Ratio'] = 11.4

In [125]:
d16_df[17:18]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
17        169                  11.4              85.8%

In [126]:
district_16 = pd.concat([d16_schools, d16_df], axis=1)
district_16[17:18]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
17,Gotham Professional Arts Academy,169,11.4,85.8%

In [127]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_16.to_csv('district_16.csv')

### **New York District 17**

In [128]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d17 = "https://www.schooldigger.com/go/NY/district/00095/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d17 = urllib.request.Request(url_schools_d17)
html_schools_d17 = urllib.request.urlopen(request_schools_d17).read()

In [129]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d17 = BeautifulSoup(html_schools_d17,'html.parser')
main_table_d17 = soup_d17.find("div",attrs={'class':'bsRTable'})
school_names_d17 = main_table_d17.find_all("span", class_="sName")

In [130]:
schools_d17 = []
for school in school_names_d17: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d17.append(record)
# schools_d17
len(schools_d17)

48

In [131]:
# Make school list to a dataframe
d17_schools = pd.DataFrame(schools_d17)

In [132]:
# this gives me the links in the rows that go with the school names
school_links_d17 = []
link_list_d17 = main_table_d17.find_all('a',href=True)
for data in link_list_d17:
  link = data['href']
  school_links_d17.append(link)
print(len(school_links_d17))
links_d17 = list(dict.fromkeys(school_links_d17)) # making a unique list from the dictionary of links
len(links_d17), links_d17[0] # previewing size and first url

240

(59, 'https://www.schooldigger.com/go/NY/schools/0009500799/school.aspx')

In [133]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d17_links = pd.DataFrame(links_d17)

In [134]:
links_needed_d17 = d17_links[d17_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [135]:
# this give me only the links as a list
d17_list_links = links_needed_d17[0].values.tolist()
len(d17_list_links)

48

In [136]:
# split up the dataset to make it not time out
extracted_records_d17 = []

for each in d17_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d17.append(records)

In [137]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d17))
print(len(d17_list_links))

48
48

In [139]:
# make extracted_records_d1 to a dataframe
d17_df = pd.DataFrame(extracted_records_d17)
d17_df[30:31]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
30      78.7%                   398              81.2%

In [140]:
d17_schools[30:31]

                                      School Name
30  International High School At Prospect Heights

In [141]:
d17_df.at[30,'Enrollment'] = 398
d17_df.at[30,'Student-Teacher Ratio'] = 13.7

In [142]:
d17_df[30:31]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
30        398                  13.7              81.2%

In [143]:
district_17 = pd.concat([d17_schools, d17_df], axis=1)
district_17[30:31]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
30,International High School At Prospect Heights,398,13.7,81.2%

In [144]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_17.to_csv('district_17.csv')

### **New York District 18**

In [145]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d18 = "https://www.schooldigger.com/go/NY/district/00096/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d18 = urllib.request.Request(url_schools_d18)
html_schools_d18 = urllib.request.urlopen(request_schools_d18).read()

In [146]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d18 = BeautifulSoup(html_schools_d18,'html.parser')
main_table_d18 = soup_d18.find("div",attrs={'class':'bsRTable'})
school_names_d18 = main_table_d18.find_all("span", class_="sName")

In [147]:
schools_d18 = []
for school in school_names_d18: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d18.append(record)
# schools_d18
len(schools_d18)

33

In [148]:
# Make school list to a dataframe
d18_schools = pd.DataFrame(schools_d18)

In [149]:
# this gives me the links in the rows that go with the school names
school_links_d18 = []
link_list_d18 = main_table_d18.find_all('a',href=True)
for data in link_list_d18:
  link = data['href']
  school_links_d18.append(link)
print(len(school_links_d18))
links_d18 = list(dict.fromkeys(school_links_d18)) # making a unique list from the dictionary of links
len(links_d18), links_d18[0] # previewing size and first url

165

(39, 'https://www.schooldigger.com/go/NY/schools/0009602283/school.aspx')

In [150]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d18_links = pd.DataFrame(links_d18)

In [152]:
links_needed_d18 = d18_links[d18_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [153]:
# this give me only the links as a list
d18_list_links = links_needed_d18[0].values.tolist()
len(d18_list_links)

33

In [154]:
# split up the dataset to make it not time out
extracted_records_d18 = []

for each in d18_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d18.append(records)

In [155]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d18))
print(len(d18_list_links))

33
33

In [157]:
# make extracted_records_d1 to a dataframe
d18_df = pd.DataFrame(extracted_records_d18)
d18_df[17:18]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
17      98.4%                   351              82.9%

In [158]:
d18_schools[17:18]

                                School Name
17  Kurt Hahn Expeditionary Learning School

In [159]:
d18_df.at[17,'Enrollment'] = 351
d18_df.at[17,'Student-Teacher Ratio'] = 12.0

In [160]:
d18_df[17:18]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
17        351                    12              82.9%

In [161]:
district_18 = pd.concat([d18_schools, d18_df], axis=1)
district_18[17:18]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
17,Kurt Hahn Expeditionary Learning School,351,12,82.9%

In [162]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_18.to_csv('district_18.csv')

### **New York District 19**

In [163]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d19 = "https://www.schooldigger.com/go/NY/district/00120/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d19 = urllib.request.Request(url_schools_d19)
html_schools_d19 = urllib.request.urlopen(request_schools_d19).read()

In [164]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d19 = BeautifulSoup(html_schools_d19,'html.parser')
main_table_d19 = soup_d19.find("div",attrs={'class':'bsRTable'})
school_names_d19 = main_table_d19.find_all("span", class_="sName")

In [165]:
schools_d19 = []
for school in school_names_d19: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d19.append(record)
# schools_d19
len(schools_d19)

48

In [166]:
# Make school list to a dataframe
d19_schools = pd.DataFrame(schools_d19)

In [167]:
# this gives me the links in the rows that go with the school names
school_links_d19 = []
link_list_d19 = main_table_d19.find_all('a',href=True)
for data in link_list_d19:
  link = data['href']
  school_links_d19.append(link)
print(len(school_links_d19))
links_d19 = list(dict.fromkeys(school_links_d19)) # making a unique list from the dictionary of links
len(links_d19), links_d19[0] # previewing size and first url

240

(54, 'https://www.schooldigger.com/go/NY/schools/0012000813/school.aspx')

In [168]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d19_links = pd.DataFrame(links_d19)

In [169]:
links_needed_d19 = d19_links[d19_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [170]:
# this give me only the links as a list
d19_list_links = links_needed_d19[0].values.tolist()
len(d19_list_links)

48

In [171]:
# split up the dataset to make it not time out
extracted_records_d19 = []

for each in d19_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d19.append(records)

In [172]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d19))
print(len(d19_list_links))

48
48

In [174]:
# make extracted_records_d1 to a dataframe
d19_df = pd.DataFrame(extracted_records_d19)
d19_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        501                  12.0              87.6%

In [175]:
district_19 = pd.concat([d19_schools, d19_df], axis=1)
district_19.head(2)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,East New York Family Academy,501,12.0,87.6%
1,Transit Technical Career And Technical Educati...,705,12.3,76.9%

In [176]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_19.to_csv('district_19.csv')

### **New York District 20**

In [177]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d20 = "https://www.schooldigger.com/go/NY/district/00151/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d20 = urllib.request.Request(url_schools_d20)
html_schools_d20 = urllib.request.urlopen(request_schools_d20).read()

In [178]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d20 = BeautifulSoup(html_schools_d20,'html.parser')
main_table_d20 = soup_d20.find("div",attrs={'class':'bsRTable'})
school_names_d20 = main_table_d20.find_all("span", class_="sName")

In [179]:
schools_d20 = []
for school in school_names_d20: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d20.append(record)
# schools_d20
len(schools_d20)

43

In [180]:
# Make school list to a dataframe
d20_schools = pd.DataFrame(schools_d20)

In [181]:
# this gives me the links in the rows that go with the school names
school_links_d20 = []
link_list_d20 = main_table_d20.find_all('a',href=True)
for data in link_list_d20:
  link = data['href']
  school_links_d20.append(link)
print(len(school_links_d20))
links_d20 = list(dict.fromkeys(school_links_d20)) # making a unique list from the dictionary of links
len(links_d20), links_d20[0] # previewing size and first url

215

(53, 'https://www.schooldigger.com/go/NY/schools/0015101348/school.aspx')

In [182]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d20_links = pd.DataFrame(links_d20)

In [183]:
links_needed_d20 = d20_links[d20_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [184]:
# this give me only the links as a list
d20_list_links = links_needed_d20[0].values.tolist()
len(d20_list_links)

43

In [185]:
# split up the dataset to make it not time out
extracted_records_d20 = []

for each in d20_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d20.append(records)

In [186]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d20))
print(len(d20_list_links))

43
43

In [188]:
# make extracted_records_d1 to a dataframe
d20_df = pd.DataFrame(extracted_records_d20)
d20_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        874                  16.8              66.1%

In [189]:
district_20 = pd.concat([d20_schools, d20_df], axis=1)
district_20.head(2)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Is 187 Christa McAuliffe School (The),874,16.8,66.1%
1,High School Of Telecommunication Arts And Tech...,"1,273",15.5,75.8%

In [190]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_20.to_csv('district_20.csv')

### **New York District 21**

In [191]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d21 = "https://www.schooldigger.com/go/NY/district/00152/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d21 = urllib.request.Request(url_schools_d21)
html_schools_d21 = urllib.request.urlopen(request_schools_d21).read()

In [192]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d21 = BeautifulSoup(html_schools_d21,'html.parser')
main_table_d21 = soup_d21.find("div",attrs={'class':'bsRTable'})
school_names_d21 = main_table_d21.find_all("span", class_="sName")

In [193]:
schools_d21 = []
for school in school_names_d21: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d21.append(record)
# schools_d21
len(schools_d21)

40

In [194]:
# Make school list to a dataframe
d21_schools = pd.DataFrame(schools_d21)

In [195]:
# this gives me the links in the rows that go with the school names
school_links_d21 = []
link_list_d21 = main_table_d21.find_all('a',href=True)
for data in link_list_d21:
  link = data['href']
  school_links_d21.append(link)
print(len(school_links_d21))
links_d21 = list(dict.fromkeys(school_links_d21)) # making a unique list from the dictionary of links
len(links_d21), links_d21[0] # previewing size and first url

200

(50, 'https://www.schooldigger.com/go/NY/schools/0015201906/school.aspx')

In [196]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d21_links = pd.DataFrame(links_d21)

In [197]:
links_needed_d21 = d21_links[d21_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [198]:
# this give me only the links as a list
d21_list_links = links_needed_d21[0].values.tolist()
len(d21_list_links)

40

In [199]:
# split up the dataset to make it not time out
extracted_records_d21 = []

for each in d21_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d21.append(records)

In [200]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d21))
print(len(d21_list_links))

40
40

In [202]:
# make extracted_records_d1 to a dataframe
d21_df = pd.DataFrame(extracted_records_d21)
d21_df[33:39]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
33      89.5%                   331              94.3%
34        637                  18.5              67.5%
35        247                  18.9              80.6%
36        656                  16.8              71.3%
37        302                  14.3              77.2%
38      94.2%                   340              82.1%

In [203]:
d21_schools[33:39]

                                          School Name
33             International High School At Lafayette
34      Rachel Carson High School For Coastal Studies
35                   High School Of Sports Management
36                  Kingsborough Early College School
37        Life Academy High School For Film And Music
38  Expeditionary Learning School For Community Le...

In [204]:
d21_df.at[33,'Enrollment'] = 331
d21_df.at[33,'Student-Teacher Ratio'] = 13.5
d21_df.at[38,'Enrollment'] = 340
d21_df.at[38,'Student-Teacher Ratio'] = 14.7

In [205]:
d21_df[33:39]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
33        331                  13.5              94.3%
34        637                  18.5              67.5%
35        247                  18.9              80.6%
36        656                  16.8              71.3%
37        302                  14.3              77.2%
38        340                  14.7              82.1%

In [206]:
district_21 = pd.concat([d21_schools, d21_df], axis=1)
district_21[33:39]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
33,International High School At Lafayette,331,13.5,94.3%
34,Rachel Carson High School For Coastal Studies,637,18.5,67.5%
35,High School Of Sports Management,247,18.9,80.6%
36,Kingsborough Early College School,656,16.8,71.3%
37,Life Academy High School For Film And Music,302,14.3,77.2%
38,Expeditionary Learning School For Community Le...,340,14.7,82.1%

In [207]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_21.to_csv('district_21.csv')

### **New York District 22**

In [208]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d22 = "https://www.schooldigger.com/go/NY/district/00153/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d22 = urllib.request.Request(url_schools_d22)
html_schools_d22 = urllib.request.urlopen(request_schools_d22).read()

In [209]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d22 = BeautifulSoup(html_schools_d22,'html.parser')
main_table_d22 = soup_d22.find("div",attrs={'class':'bsRTable'})
school_names_d22 = main_table_d22.find_all("span", class_="sName")

In [210]:
schools_d22 = []
for school in school_names_d22: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d22.append(record)
# schools_d22
len(schools_d22)

40

In [211]:
# Make school list to a dataframe
d22_schools = pd.DataFrame(schools_d22)

In [212]:
# this gives me the links in the rows that go with the school names
school_links_d22 = []
link_list_d22 = main_table_d22.find_all('a',href=True)
for data in link_list_d22:
  link = data['href']
  school_links_d22.append(link)
print(len(school_links_d22))
links_d22 = list(dict.fromkeys(school_links_d22)) # making a unique list from the dictionary of links
len(links_d22), links_d22[0] # previewing size and first url

200

(50, 'https://www.schooldigger.com/go/NY/schools/0015300800/school.aspx')

In [214]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d22_links = pd.DataFrame(links_d22)

In [215]:
links_needed_d22 = d22_links[d22_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [216]:
# this give me only the links as a list
d22_list_links = links_needed_d22[0].values.tolist()
len(d22_list_links)

40

In [217]:
# split up the dataset to make it not time out
extracted_records_d22 = []

for each in d22_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d22.append(records)

In [218]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d22))
print(len(d22_list_links))

40
40

In [220]:
# make extracted_records_d1 to a dataframe
d22_df = pd.DataFrame(extracted_records_d22)
d22_df[34:38]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
34      99.1%                   190              84.2%
35        427                  12.9              75.6%
36        197                  11.5              80.7%
37      33.7%                    83              73.5%

In [221]:
d22_schools[34:38]

                          School Name
34                             Ps 326
35                Origins High School
36  Professional Pathways High School
37                             Ps 889

In [222]:
d22_df.at[34,'Enrollment'] = 190
d22_df.at[34,'Student-Teacher Ratio'] = 13.5
d22_df.at[37,'Enrollment'] = 83
d22_df.at[37,'Student-Teacher Ratio'] = 9.2

In [223]:
d22_df[34:38]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
34        190                  13.5              84.2%
35        427                  12.9              75.6%
36        197                  11.5              80.7%
37         83                   9.2              73.5%

In [224]:
district_22 = pd.concat([d22_schools, d22_df], axis=1)
district_22[34:38]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
34,Ps 326,190,13.5,84.2%
35,Origins High School,427,12.9,75.6%
36,Professional Pathways High School,197,11.5,80.7%
37,Ps 889,83,9.2,73.5%

In [225]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_22.to_csv('district_22.csv')

### **New York District 23**

In [226]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d23 = "https://www.schooldigger.com/go/NY/district/00121/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d23 = urllib.request.Request(url_schools_d23)
html_schools_d23 = urllib.request.urlopen(request_schools_d23).read()

In [227]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d23 = BeautifulSoup(html_schools_d23,'html.parser')
main_table_d23 = soup_d23.find("div",attrs={'class':'bsRTable'})
school_names_d23 = main_table_d23.find_all("span", class_="sName")

In [228]:
schools_d23 = []
for school in school_names_d23: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d23.append(record)
# schools_d23
len(schools_d23)

29

In [229]:
# Make school list to a dataframe
d23_schools = pd.DataFrame(schools_d23)

In [230]:
# this gives me the links in the rows that go with the school names
school_links_d23 = []
link_list_d23 = main_table_d23.find_all('a',href=True)
for data in link_list_d23:
  link = data['href']
  school_links_d23.append(link)
print(len(school_links_d23))
links_d23 = list(dict.fromkeys(school_links_d23)) # making a unique list from the dictionary of links
len(links_d23), links_d23[0] # previewing size and first url

145

(35, 'https://www.schooldigger.com/go/NY/schools/0012102182/school.aspx')

In [232]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d23_links = pd.DataFrame(links_d23)

In [233]:
links_needed_d23 = d23_links[d23_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [234]:
# this give me only the links as a list
d23_list_links = links_needed_d23[0].values.tolist()
len(d23_list_links)

29

In [235]:
# split up the dataset to make it not time out
extracted_records_d23 = []

for each in d23_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d23.append(records)

In [236]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d23))
print(len(d23_list_links))

29
29

In [238]:
# make extracted_records_d1 to a dataframe
d23_df = pd.DataFrame(extracted_records_d23)
d23_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        461                  11.8              98.3%

In [239]:
district_23 = pd.concat([d23_schools, d23_df], axis=1)
district_23.head(2)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Ps 41 Francis White,461,11.8,98.3%
1,Ps/Is 137 Rachael Jean Mitchell,304,11.2,92.8%

In [240]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_23.to_csv('district_23.csv')

### **New York District 24**

In [241]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d24 = "https://www.schooldigger.com/go/NY/district/00098/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d24 = urllib.request.Request(url_schools_d24)
html_schools_d24 = urllib.request.urlopen(request_schools_d24).read()

In [243]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d24= BeautifulSoup(html_schools_d24,'html.parser')
main_table_d24 = soup_d24.find("div",attrs={'class':'bsRTable'})
school_names_d24 = main_table_d24.find_all("span", class_="sName")

In [244]:
schools_d24 = []
for school in school_names_d24: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d24.append(record)
# schools_d24
len(schools_d24)

56

In [245]:
# Make school list to a dataframe
d24_schools = pd.DataFrame(schools_d24)

In [246]:
# this gives me the links in the rows that go with the school names
school_links_d24 = []
link_list_d24 = main_table_d24.find_all('a',href=True)
for data in link_list_d24:
  link = data['href']
  school_links_d24.append(link)
print(len(school_links_d24))
links_d24 = list(dict.fromkeys(school_links_d24)) # making a unique list from the dictionary of links
len(links_d24), links_d24[0] # previewing size and first url

280

(76, 'https://www.schooldigger.com/go/NY/schools/0009801406/school.aspx')

In [247]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d24_links = pd.DataFrame(links_d24)

In [248]:
links_needed_d24 = d24_links[d24_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [249]:
# this give me only the links as a list
d24_list_links = links_needed_d24[0].values.tolist()
len(d24_list_links)

56

In [250]:
# split up the dataset to make it not time out
extracted_records_d24 = []

for each in d24_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d24.append(records)

In [251]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d24))
print(len(d24_list_links))

56
56

In [253]:
# make extracted_records_d1 to a dataframe
d24_df = pd.DataFrame(extracted_records_d24)
d24_df[34:56]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
34      99.5%                   507              69.6%
35      97.3%                   525              68.8%
36      99.3%                   506                83%
37      1,029                  14.9              76.4%
38        557                  12.6              93.5%
39        601                  19.3                82%
40        417                  16.6              77.7%
41        622                  17.2              40.5%
42        529                  16.0              76.6%
43        617                  12.0              86.7%
44        933                  14.8              97.3%
45     100.0%                   255              75.3%
46      87.6%                   437              90.2%
47        592                  13.4              93.1%
48        548                  15.6              65.7%
49      1,194                  18.6              63.7%
50        786                  14.0              93.8%
51        300                  11.5                96%
52        726                  14.8              97.5%
53      76.6%                   299                95%
54        371                  12.7              82.7%
55      56.7%                   217                 0%

In [254]:
d24_schools[34:56]

                                          School Name
34  Middle College High School At Laguardia Commun...
35  International High School At Laguardia Communi...
36  Ps 28 Thomas Emanuel Early Childhood Center (The)
37                       Ps 58 School Of Heroes (The)
38                                             Ps 239
39                  Academy Of Finance And Enterprise
40              High School Of Applied Communications
41              Bard High School Early College Queens
42                           Civic Leadership Academy
43                               Learners And Leaders
44                                    Pioneer Academy
45                                Voyages Preparatory
46             Pan American International High School
47                            Helen M Marshall School
48  Ace Academy For Scholars At The Geraldine Ferr...
49                                Maspeth High School
50                                             Ps 110
51                         Elm Tree Elementary School
52                   Corona Arts And Sciences Academy
53      International High School For Health Sciences
54                        Children's Lab School (The)
55                               Rose M Singer Center

In [255]:
d24_df.at[34,'Enrollment'] = 507
d24_df.at[34,'Student-Teacher Ratio'] = 21.1
d24_df.at[35,'Enrollment'] = 525
d24_df.at[35,'Student-Teacher Ratio'] = 18.1
d24_df.at[36,'Enrollment'] = 506
d24_df.at[36,'Student-Teacher Ratio'] = 12.0
d24_df.at[45,'Enrollment'] = 255
d24_df.at[45,'Student-Teacher Ratio'] = 17.3
d24_df.at[46,'Enrollment'] = 437
d24_df.at[46,'Student-Teacher Ratio'] = 10.6
d24_df.at[53,'Enrollment'] = 299
d24_df.at[53,'Student-Teacher Ratio'] = 13.5
d24_df.at[55,'Enrollment'] = 217
d24_df.at[55,'Student-Teacher Ratio'] = 14.7

In [256]:
d24_df[34:56]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
34        507                  21.1              69.6%
35        525                  18.1              68.8%
36        506                    12                83%
37      1,029                  14.9              76.4%
38        557                  12.6              93.5%
39        601                  19.3                82%
40        417                  16.6              77.7%
41        622                  17.2              40.5%
42        529                  16.0              76.6%
43        617                  12.0              86.7%
44        933                  14.8              97.3%
45        255                  17.3              75.3%
46        437                  10.6              90.2%
47        592                  13.4              93.1%
48        548                  15.6              65.7%
49      1,194                  18.6              63.7%
50        786                  14.0              93.8%
51        300                  11.5                96%
52        726                  14.8              97.5%
53        299                  13.5                95%
54        371                  12.7              82.7%
55        217                  14.7                 0%

In [257]:
district_24 = pd.concat([d24_schools, d24_df], axis=1)
district_24.head(2)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Ps 7 Louis F Simeone,"1,002",14.7,88.2%
1,Robert F Wagner Junior Secondary School For Ar...,666,17.5,77.6%

In [258]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_24.to_csv('district_24.csv')

### **New York District 25**

In [259]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d25 = "https://www.schooldigger.com/go/NY/district/00122/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d25 = urllib.request.Request(url_schools_d25)
html_schools_d25 = urllib.request.urlopen(request_schools_d25).read()

In [260]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d25 = BeautifulSoup(html_schools_d25,'html.parser')
main_table_d25 = soup_d25.find("div",attrs={'class':'bsRTable'})
school_names_d25 = main_table_d25.find_all("span", class_="sName")

In [261]:
schools_d25 = []
for school in school_names_d25: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d25.append(record)
# schools_d25
len(schools_d25)

45

In [262]:
# Make school list to a dataframe
d25_schools = pd.DataFrame(schools_d25)

In [263]:
# this gives me the links in the rows that go with the school names
school_links_d25 = []
link_list_d25 = main_table_d25.find_all('a',href=True)
for data in link_list_d25:
  link = data['href']
  school_links_d25.append(link)
print(len(school_links_d25))
links_d25 = list(dict.fromkeys(school_links_d25)) # making a unique list from the dictionary of links
len(links_d25), links_d25[0] # previewing size and first url

225

(61, 'https://www.schooldigger.com/go/NY/schools/0012200249/school.aspx')

In [264]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d25_links = pd.DataFrame(links_d25)

In [265]:
links_needed_d25 = d25_links[d25_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [266]:
# this give me only the links as a list
d25_list_links = links_needed_d25[0].values.tolist()
len(d25_list_links)

45

In [267]:
# split up the dataset to make it not time out
extracted_records_d25 = []

for each in d25_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d25.append(records)

In [268]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d25))
print(len(d25_list_links))

45
45

In [270]:
# make extracted_records_d1 to a dataframe
d25_df = pd.DataFrame(extracted_records_d25)
d25_df[34:43]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
34     100.0%                   394              64.5%
35        302                  15.8              66.2%
36      92.2%                   435              92.6%
37        580                  12.3              60.2%
38        568                  14.9              56.9%
39        655                  11.4              86.4%
40        374                  13.8              48.4%
41        192                  17.4              71.9%
42      99.8%                   460              79.1%

In [271]:
d25_schools[34:43]

                                          School Name
34   Ps 242 Leonard P Stavisky Early Childhood School
35                         Queens Academy High School
36                 Flushing International High School
37                     Queens School Of Inquiry (The)
38  World Journalism Preparatory: A College Board ...
39          East-West School Of International Studies
40                                       Bell Academy
41                 North Queens Community High School
42            Active Learning Elementary School (The)

In [272]:
d25_df.at[34,'Enrollment'] = 394
d25_df.at[34,'Student-Teacher Ratio'] = 11.9
d25_df.at[36,'Enrollment'] = 435
d25_df.at[36,'Student-Teacher Ratio'] = 15.5
d25_df.at[42,'Enrollment'] = 460
d25_df.at[42,'Student-Teacher Ratio'] = 15.3

In [273]:
d25_df[34:43]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
34        394                  11.9              64.5%
35        302                  15.8              66.2%
36        435                  15.5              92.6%
37        580                  12.3              60.2%
38        568                  14.9              56.9%
39        655                  11.4              86.4%
40        374                  13.8              48.4%
41        192                  17.4              71.9%
42        460                  15.3              79.1%

In [274]:
district_25 = pd.concat([d25_schools, d25_df], axis=1)
district_25[34:43]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
34,Ps 242 Leonard P Stavisky Early Childhood School,394,11.9,64.5%
35,Queens Academy High School,302,15.8,66.2%
36,Flushing International High School,435,15.5,92.6%
37,Queens School Of Inquiry (The),580,12.3,60.2%
38,World Journalism Preparatory: A College Board ...,568,14.9,56.9%
39,East-West School Of International Studies,655,11.4,86.4%
40,Bell Academy,374,13.8,48.4%
41,North Queens Community High School,192,17.4,71.9%
42,Active Learning Elementary School (The),460,15.3,79.1%

In [275]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_25.to_csv('district_25.csv')

### **New York District 26**

In [276]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d26 = "https://www.schooldigger.com/go/NY/district/00099/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d26 = urllib.request.Request(url_schools_d26)
html_schools_d26 = urllib.request.urlopen(request_schools_d26).read()

In [277]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d26 = BeautifulSoup(html_schools_d26,'html.parser')
main_table_d26 = soup_d26.find("div",attrs={'class':'bsRTable'})
school_names_d26 = main_table_d26.find_all("span", class_="sName")

In [278]:
schools_d26 = []
for school in school_names_d26: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d26.append(record)
# schools_d26
len(schools_d26)

33

In [279]:
# Make school list to a dataframe
d26_schools = pd.DataFrame(schools_d26)

In [280]:
# this gives me the links in the rows that go with the school names
school_links_d26 = []
link_list_d26 = main_table_d26.find_all('a',href=True)
for data in link_list_d26:
  link = data['href']
  school_links_d26.append(link)
print(len(school_links_d26))
links_d26 = list(dict.fromkeys(school_links_d26)) # making a unique list from the dictionary of links
len(links_d26), links_d26[0] # previewing size and first url

165

(54, 'https://www.schooldigger.com/go/NY/schools/0009901917/school.aspx')

In [281]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d26_links = pd.DataFrame(links_d26)

In [282]:
links_needed_d26 = d26_links[d26_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [283]:
# this give me only the links as a list
d26_list_links = links_needed_d26[0].values.tolist()
len(d26_list_links)

33

In [284]:
# split up the dataset to make it not time out
extracted_records_d26 = []

for each in d26_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d26.append(records)

In [285]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d26))
print(len(d26_list_links))

33
33

In [287]:
# make extracted_records_d1 to a dataframe
d26_df = pd.DataFrame(extracted_records_d26)
d26_df[32:33]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
32      60.2%                    98                52%

In [288]:
d26_schools[32:33]

   School Name
32      Ps 376

In [289]:
d26_df.at[32,'Enrollment'] = 98
d26_df.at[32,'Student-Teacher Ratio'] = 9.8

In [290]:
d26_df[32:33]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
32         98                   9.8                52%

In [291]:
district_26 = pd.concat([d26_schools, d26_df], axis=1)
district_26[32:33]

   School Name Enrollment Student-Teacher Ratio Free-Reduced Lunch
32      Ps 376         98                   9.8                52%

In [292]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_26.to_csv('district_26.csv')

### **New York District 27**

In [293]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d27 = "https://www.schooldigger.com/go/NY/district/00123/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d27 = urllib.request.Request(url_schools_d27)
html_schools_d27 = urllib.request.urlopen(request_schools_d27).read()

In [294]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d27 = BeautifulSoup(html_schools_d27,'html.parser')
main_table_d27 = soup_d27.find("div",attrs={'class':'bsRTable'})
school_names_d27 = main_table_d27.find_all("span", class_="sName")

In [295]:
schools_d27 = []
for school in school_names_d27: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d27.append(record)
# schools_d27
len(schools_d27)

63

In [296]:
# Make school list to a dataframe
d27_schools = pd.DataFrame(schools_d27)

In [297]:
# this gives me the links in the rows that go with the school names
school_links_d27 = []
link_list_d27 = main_table_d27.find_all('a',href=True)
for data in link_list_d27:
  link = data['href']
  school_links_d27.append(link)
print(len(school_links_d27))
links_d27 = list(dict.fromkeys(school_links_d27)) # making a unique list from the dictionary of links
len(links_d27), links_d27[0] # previewing size and first url

315

(90, 'https://www.schooldigger.com/go/NY/schools/0012301790/school.aspx')

In [298]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d27_links = pd.DataFrame(links_d27)

In [299]:
links_needed_d27 = d27_links[d27_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [300]:
# this give me only the links as a list
d27_list_links = links_needed_d27[0].values.tolist()
len(d27_list_links)

63

In [301]:
# split up the dataset to make it not time out
extracted_records_d27 = []

for each in d27_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d27.append(records)

In [302]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d27))
print(len(d27_list_links))

63
63

In [319]:
# make extracted_records_d1 to a dataframe
d27_df = pd.DataFrame(extracted_records_d27)
d27_df.head()
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0      98.8%                   250              79.6%
1        328                  13.1              86.3%
2        271                  11.2              80.4%
3        911                  18.2              90.7%
4      2,270                  14.0              79.9%

In [311]:
d27_schools[62:63]

   School Name
62      Ps 377

In [320]:
d27_df.at[0,'Enrollment'] = 250
d27_df.at[0,'Student-Teacher Ratio'] = 15.0
d27_df.at[62,'Enrollment'] = 135
d27_df.at[62,'Student-Teacher Ratio'] = 9.0

In [321]:
d27_df.head()

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        250                    15              79.6%
1        328                  13.1              86.3%
2        271                  11.2              80.4%
3        911                  18.2              90.7%
4      2,270                  14.0              79.9%

In [322]:
district_27 = pd.concat([d27_schools, d27_df], axis=1)
district_27.head(1)

  School Name Enrollment Student-Teacher Ratio Free-Reduced Lunch
0       Ps 51        250                    15              79.6%

In [323]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_27.to_csv('district_27.csv')

### **New York District 28**

In [324]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d28 = "https://www.schooldigger.com/go/NY/district/00100/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d28 = urllib.request.Request(url_schools_d28)
html_schools_d28 = urllib.request.urlopen(request_schools_d28).read()

In [325]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d28 = BeautifulSoup(html_schools_d28,'html.parser')
main_table_d28 = soup_d28.find("div",attrs={'class':'bsRTable'})
school_names_d28 = main_table_d28.find_all("span", class_="sName")

In [326]:
schools_d28 = []
for school in school_names_d28: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d28.append(record)
# schools_d28
len(schools_d28)

50

In [327]:
# Make school list to a dataframe
d28_schools = pd.DataFrame(schools_d28)

In [328]:
# this gives me the links in the rows that go with the school names
school_links_d28 = []
link_list_d28 = main_table_d28.find_all('a',href=True)
for data in link_list_d28:
  link = data['href']
  school_links_d28.append(link)
print(len(school_links_d28))
links_d28 = list(dict.fromkeys(school_links_d28)) # making a unique list from the dictionary of links
len(links_d28), links_d28[0] # previewing size and first url

250

(69, 'https://www.schooldigger.com/go/NY/schools/0010001414/school.aspx')

In [329]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d28_links = pd.DataFrame(links_d28)

In [330]:
links_needed_d28 = d28_links[d28_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [331]:
# this give me only the links as a list
d28_list_links = links_needed_d28[0].values.tolist()
len(d28_list_links)

50

In [332]:
# split up the dataset to make it not time out
extracted_records_d28 = []

for each in d28_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d28.append(records)

In [333]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d28))
print(len(d28_list_links))

50
50

In [335]:
# make extracted_records_d1 to a dataframe
d28_df = pd.DataFrame(extracted_records_d28)
d28_df[37:50]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
37      99.0%                   205              24.4%
38        471                  18.1              80.9%
39     100.0%                   188              89.4%
40        841                  12.7              71.5%
41      1,088                  16.7              60.3%
42        465                  14.9              81.7%
43        510                  18.1              74.5%
44        619                  15.8              76.9%
45        362                  12.0              85.9%
46        152                  10.8              91.4%
47        313                  12.0              69.3%
48        383                  15.3              88.3%
49      41.0%                   315              88.3%

In [336]:
d28_schools[37:50]

                                          School Name
37      Academy For Excellence Through The Arts (The)
38                    Hillside Arts & Letters Academy
39       Queens Satellite High School For Opportunity
40         Metropolitan Expeditionary Learning School
41                    Queens Metropolitan High School
42               High School For Community Leadership
43                    Jamaica Gateway To The Sciences
44    Jermaine L Green Stem Institute In Queens (The)
45                               Emerson School (The)
46                          Jamaica Children's School
47                              Redwood Middle School
48                                  Middle School 358
49  Queens School For Leadership And Excellence (The)

In [337]:
d28_df.at[37,'Enrollment'] = 205
d28_df.at[37,'Student-Teacher Ratio'] = 14.6
d28_df.at[39,'Enrollment'] = 188
d28_df.at[39,'Student-Teacher Ratio'] = 15.6
d28_df.at[49,'Enrollment'] = 315
d28_df.at[49,'Student-Teacher Ratio'] = 14.3

In [338]:
d28_df[37:50]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
37        205                  14.6              24.4%
38        471                  18.1              80.9%
39        188                  15.6              89.4%
40        841                  12.7              71.5%
41      1,088                  16.7              60.3%
42        465                  14.9              81.7%
43        510                  18.1              74.5%
44        619                  15.8              76.9%
45        362                  12.0              85.9%
46        152                  10.8              91.4%
47        313                  12.0              69.3%
48        383                  15.3              88.3%
49        315                  14.3              88.3%

In [339]:
district_28 = pd.concat([d28_schools, d28_df], axis=1)
district_28[37:50]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
37,Academy For Excellence Through The Arts (The),205,14.6,24.4%
38,Hillside Arts & Letters Academy,471,18.1,80.9%
39,Queens Satellite High School For Opportunity,188,15.6,89.4%
40,Metropolitan Expeditionary Learning School,841,12.7,71.5%
41,Queens Metropolitan High School,"1,088",16.7,60.3%
42,High School For Community Leadership,465,14.9,81.7%
43,Jamaica Gateway To The Sciences,510,18.1,74.5%
44,Jermaine L Green Stem Institute In Queens (The),619,15.8,76.9%
45,Emerson School (The),362,12.0,85.9%
46,Jamaica Children's School,152,10.8,91.4%
47,Redwood Middle School,313,12.0,69.3%
48,Middle School 358,383,15.3,88.3%
49,Queens School For Leadership And Excellence (The),315,14.3,88.3%

In [340]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_28.to_csv('district_28.csv')

### **New York District 29**

In [341]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d29 = "https://www.schooldigger.com/go/NY/district/00101/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d29 = urllib.request.Request(url_schools_d29)
html_schools_d29 = urllib.request.urlopen(request_schools_d29).read()

In [342]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d29 = BeautifulSoup(html_schools_d29,'html.parser')
main_table_d29 = soup_d29.find("div",attrs={'class':'bsRTable'})
school_names_d29 = main_table_d29.find_all("span", class_="sName")

In [343]:
schools_d29 = []
for school in school_names_d29: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d29.append(record)
# schools_d29
len(schools_d29)

46

In [344]:
# Make school list to a dataframe
d29_schools = pd.DataFrame(schools_d29)

In [345]:
# this gives me the links in the rows that go with the school names
school_links_d29 = []
link_list_d29 = main_table_d29.find_all('a',href=True)
for data in link_list_d29:
  link = data['href']
  school_links_d29.append(link)
print(len(school_links_d29))
links_d29 = list(dict.fromkeys(school_links_d29)) # making a unique list from the dictionary of links
len(links_d29), links_d29[0] # previewing size and first url

230

(67, 'https://www.schooldigger.com/go/NY/schools/0010101408/school.aspx')

In [346]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d29_links = pd.DataFrame(links_d29)

In [347]:
links_needed_d29 = d29_links[d29_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [348]:
# this give me only the links as a list
d29_list_links = links_needed_d29[0].values.tolist()
len(d29_list_links)

46

In [349]:
# split up the dataset to make it not time out
extracted_records_d29 = []

for each in d29_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d29.append(records)

In [350]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d29))
print(len(d29_list_links))

46
46

In [352]:
# make extracted_records_d1 to a dataframe
d29_df = pd.DataFrame(extracted_records_d29)
d29_df[43:46]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
43      94.1%                   418              75.8%
44        397                  14.1              84.1%
45      95.5%                   176              59.7%

In [353]:
d29_schools[43:46]

                                          School Name
43  Institute For Health Professions At Cambria He...
44         Benjamin Franklin High School-Finance-Info
45                                             Ps 360

In [354]:
d29_df.at[43,'Enrollment'] = 418
d29_df.at[43,'Student-Teacher Ratio'] = 13.4
d29_df.at[45,'Enrollment'] = 176
d29_df.at[45,'Student-Teacher Ratio'] = 14.6

In [355]:
d29_df[43:46]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
43        418                  13.4              75.8%
44        397                  14.1              84.1%
45        176                  14.6              59.7%

In [356]:
district_29 = pd.concat([d29_schools, d29_df], axis=1)
district_29[43:46]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
43,Institute For Health Professions At Cambria He...,418,13.4,75.8%
44,Benjamin Franklin High School-Finance-Info,397,14.1,84.1%
45,Ps 360,176,14.6,59.7%

In [357]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_29.to_csv('district_29.csv')

### **New York District 30**

In [358]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d30 = "https://www.schooldigger.com/go/NY/district/00102/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d30 = urllib.request.Request(url_schools_d30)
html_schools_d30 = urllib.request.urlopen(request_schools_d30).read()

In [359]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d30 = BeautifulSoup(html_schools_d30,'html.parser')
main_table_d30 = soup_d30.find("div",attrs={'class':'bsRTable'})
school_names_d30 = main_table_d30.find_all("span", class_="sName")

In [360]:
schools_d30 = []
for school in school_names_d30: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d30.append(record)
# schools_d30
len(schools_d30)

48

In [361]:
# Make school list to a dataframe
d30_schools = pd.DataFrame(schools_d30)

In [362]:
# this gives me the links in the rows that go with the school names
school_links_d30 = []
link_list_d30 = main_table_d30.find_all('a',href=True)
for data in link_list_d30:
  link = data['href']
  school_links_d30.append(link)
print(len(school_links_d30))
links_d30 = list(dict.fromkeys(school_links_d30)) # making a unique list from the dictionary of links
len(links_d30), links_d30[0] # previewing size and first url

240

(69, 'https://www.schooldigger.com/go/NY/schools/0010201821/school.aspx')

In [363]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d30_links = pd.DataFrame(links_d30)

In [364]:
links_needed_d30 = d30_links[d30_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [365]:
# this give me only the links as a list
d30_list_links = links_needed_d30[0].values.tolist()
len(d30_list_links)

48

In [366]:
# split up the dataset to make it not time out
extracted_records_d30 = []

for each in d30_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d30.append(records)

In [367]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d30))
print(len(d30_list_links))

48
48

In [369]:
# make extracted_records_d1 to a dataframe
d30_df = pd.DataFrame(extracted_records_d30)
d30_df[33:48]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
33     100.0%                   313              89.5%
34        834                  16.6              40.6%
35      1,090                  16.0              53.8%
36      97.3%                   283                77%
37        999                  16.9              84.5%
38        516                  14.3              82.6%
39        539                  17.6              43.4%
40        561                  16.9              85.4%
41        563                  14.4              50.1%
42        686                  15.2              94.6%
43        421                  12.0              52.5%
44        383                  14.1              93.2%
45        512                  15.0                76%
46        444                  18.4              26.8%
47      59.5%                   262              80.9%

In [370]:
d30_schools[33:48]

                                          School Name
33  Ivan Lafayette Early Childhood School Of The A...
34       Frank Sinatra School Of The Arts High School
35                                             Ps 150
36   Ps 222-Fire Fighter Christopher A Santora School
37                 Information Technology High School
38                                             Ps 234
39          Baccalaureate School For Global Education
40           Young Womens Leadership School - Astoria
41         Academy For Careers In Television And Film
42                                             Ps 280
43              Hunters Point Community Middle School
44                     East Elmhurst Community School
45                       Energy Technical High School
46          30th Avenue School (The) (G & T Citywide)
47                    Woodside Community School (The)

In [371]:
d30_df.at[33,'Enrollment'] = 313
d30_df.at[33,'Student-Teacher Ratio'] = 13.6
d30_df.at[36,'Enrollment'] = 283
d30_df.at[36,'Student-Teacher Ratio'] = 14.1
d30_df.at[47,'Enrollment'] = 262
d30_df.at[47,'Student-Teacher Ratio'] = 14.5

In [372]:
d30_df[33:48]

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
33        313                  13.6              89.5%
34        834                  16.6              40.6%
35      1,090                  16.0              53.8%
36        283                  14.1                77%
37        999                  16.9              84.5%
38        516                  14.3              82.6%
39        539                  17.6              43.4%
40        561                  16.9              85.4%
41        563                  14.4              50.1%
42        686                  15.2              94.6%
43        421                  12.0              52.5%
44        383                  14.1              93.2%
45        512                  15.0                76%
46        444                  18.4              26.8%
47        262                  14.5              80.9%

In [373]:
district_30 = pd.concat([d30_schools, d30_df], axis=1)
district_30[33:48]

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
33,Ivan Lafayette Early Childhood School Of The A...,313,13.6,89.5%
34,Frank Sinatra School Of The Arts High School,834,16.6,40.6%
35,Ps 150,"1,090",16.0,53.8%
36,Ps 222-Fire Fighter Christopher A Santora School,283,14.1,77%
37,Information Technology High School,999,16.9,84.5%
38,Ps 234,516,14.3,82.6%
39,Baccalaureate School For Global Education,539,17.6,43.4%
40,Young Womens Leadership School - Astoria,561,16.9,85.4%
41,Academy For Careers In Television And Film,563,14.4,50.1%
42,Ps 280,686,15.2,94.6%
43,Hunters Point Community Middle School,421,12.0,52.5%
44,East Elmhurst Community School,383,14.1,93.2%
45,Energy Technical High School,512,15.0,76%
46,30th Avenue School (The) (G & T Citywide),444,18.4,26.8%
47,Woodside Community School (The),262,14.5,80.9%

In [374]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_30.to_csv('district_30.csv')

### **New York District 31**

In [375]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d31 = "https://www.schooldigger.com/go/NY/district/00103/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d31 = urllib.request.Request(url_schools_d31)
html_schools_d31 = urllib.request.urlopen(request_schools_d31).read()

In [376]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d31 = BeautifulSoup(html_schools_d31,'html.parser')
main_table_d31 = soup_d31.find("div",attrs={'class':'bsRTable'})
school_names_d31 = main_table_d31.find_all("span", class_="sName")

In [377]:
schools_d31 = []
for school in school_names_d31: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d31.append(record)
# schools_d31
len(schools_d31)

72

In [378]:
# Make school list to a dataframe
d31_schools = pd.DataFrame(schools_d31)

In [379]:
# this gives me the links in the rows that go with the school names
school_links_d31 = []
link_list_d31 = main_table_d31.find_all('a',href=True)
for data in link_list_d31:
  link = data['href']
  school_links_d31.append(link)
print(len(school_links_d31))
links_d31 = list(dict.fromkeys(school_links_d31)) # making a unique list from the dictionary of links
len(links_d31), links_d31[0] # previewing size and first url

360

(87, 'https://www.schooldigger.com/go/NY/schools/0010300962/school.aspx')

In [380]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d31_links = pd.DataFrame(links_d31)

In [381]:
links_needed_d31 = d31_links[d31_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [382]:
# this give me only the links as a list
d31_list_links = links_needed_d31[0].values.tolist()
len(d31_list_links)

72

In [383]:
# split up the dataset to make it not time out
extracted_records_d31 = []

for each in d31_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d31.append(records)

In [384]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d31))
print(len(d31_list_links))

72
72

In [390]:
# make extracted_records_d1 to a dataframe
d31_df = pd.DataFrame(extracted_records_d31)
d31_df[70:72]
# looking through the data - need to replace a few numbers with it's correct numbers

   Enrollment Student-Teacher Ratio Free-Reduced Lunch
70      83.7%                   215              27.4%
71      47.7%                   153              79.1%

In [391]:
d31_schools[70:72]

                                    School Name
70         Kathleen Grimm School For Leadership
71  Port Richmond School For Visionary Learning

In [394]:
d31_df.at[1,'Enrollment'] = 1313
d31_df.at[1,'Student-Teacher Ratio'] = 15.2
d31_df.at[70,'Enrollment'] = 215
d31_df.at[70,'Student-Teacher Ratio'] = 11.3
d31_df.at[71,'Enrollment'] = 153
d31_df.at[71,'Student-Teacher Ratio'] = 13.9

In [395]:
d31_df.head(2)

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        166                  12.9              71.7%
1       1313                  15.2              47.1%

In [396]:
district_31 = pd.concat([d31_schools, d31_df], axis=1)
district_31.head(2)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Concord High School,166,12.9,71.7%
1,Michael J Petrides School (The),1313,15.2,47.1%

In [397]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_31.to_csv('district_31.csv')

### **New York District 32**

In [398]:
# get the url of the site that you need (multiple urls now because I found the different districts)
url_schools_d32 = "https://www.schooldigger.com/go/NY/district/00097/search.aspx"
#download the URL and extract the content to the variable html 
request_schools_d32 = urllib.request.Request(url_schools_d32)
html_schools_d32 = urllib.request.urlopen(request_schools_d32).read()

In [399]:
# this will only give me the school names

#pass the HTML to Beautifulsoup.
soup_d32 = BeautifulSoup(html_schools_d32,'html.parser')
main_table_d32 = soup_d32.find("div",attrs={'class':'bsRTable'})
school_names_d32 = main_table_d32.find_all("span", class_="sName")

In [400]:
schools_d32 = []
for school in school_names_d32: 
    title = school.text
    record = {
        'School Name':title
        }
    schools_d32.append(record)
# schools_d32
len(schools_d32)

27

In [401]:
# Make school list to a dataframe
d32_schools = pd.DataFrame(schools_d32)

In [402]:
# this gives me the links in the rows that go with the school names
school_links_d32 = []
link_list_d32 = main_table_d32.find_all('a',href=True)
for data in link_list_d32:
  link = data['href']
  school_links_d32.append(link)
print(len(school_links_d32))
links_d32 = list(dict.fromkeys(school_links_d32)) # making a unique list from the dictionary of links
len(links_d32), links_d32[0] # previewing size and first url

135

(35, 'https://www.schooldigger.com/go/NY/schools/0009700827/school.aspx')

In [403]:
# change the list to a dataframe to be able to filter out the links that I need and not the other links
d32_links = pd.DataFrame(links_d32)

In [404]:
links_needed_d32 = d32_links[d32_links[0].str.contains('https://www.schooldigger.com/go/NY/schools/')]

In [405]:
# this give me only the links as a list
d32_list_links = links_needed_d32[0].values.tolist()
len(d32_list_links)

27

In [406]:
# split up the dataset to make it not time out
extracted_records_d32 = []

for each in d32_list_links:
  # You can add a time sleep to pause between pulls


  #download the URL and extract the content to the variable html 
  request_schools = urllib.request.Request(each)
  html_schools = urllib.request.urlopen(request_schools).read()
  soup = BeautifulSoup(html_schools,'html.parser')
  table = soup.find_all('span', {'class':'bigOrange'})
#   display(table)
  enrollment_num = table[2]
  ratio_num = table[1]
  lunch_num = table[-1]
  records = {
        'Enrollment': enrollment_num.text,
        'Student-Teacher Ratio': ratio_num.text,
        'Free-Reduced Lunch': lunch_num.text
        }
  extracted_records_d32.append(records)

In [408]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records_d32))
print(len(d32_list_links))

27
27

In [410]:
# make extracted_records_d1 to a dataframe
d32_df = pd.DataFrame(extracted_records_d32)
d32_df.head(1)
# looking through the data - need to replace a few numbers with it's correct numbers

  Enrollment Student-Teacher Ratio Free-Reduced Lunch
0        488                  12.4              89.3%

In [411]:
district_32 = pd.concat([d32_schools, d32_df], axis=1)
district_32.head(2)

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch
0,Ebc High School For Public Service-Bushwick,488,12.4,89.3%
1,Ps 376,518,15.6,87.1%

In [412]:
# make df a csv file to be able to work with later
# saving the dataframe 
district_32.to_csv('district_32.csv')

In [ ]:
# checking the lens of everything to make sure it's ok
print(len(extracted_records))
print(len(extracted_records2))
print(len(extracted_records)+len(extracted_records2))
print(len(list_links))

In [ ]:
# working it out to put in it's own dataframe
info1 = pd.DataFrame(extracted_records)
info2 = pd.DataFrame(extracted_records2)

df_info = pd.concat([info1, info2], ignore_index=True)