In [1]:
import pandas as pd

In [2]:
district_1 = pd.read_csv('district_1.csv')
district_10 = pd.read_csv('district_10.csv')
district_11 = pd.read_csv('district_11.csv')
district_12 = pd.read_csv('district_12.csv')
district_13 = pd.read_csv('district_13.csv')
district_14 = pd.read_csv('district_14.csv')
district_15 = pd.read_csv('district_15.csv')
district_16 = pd.read_csv('district_16.csv')
district_17 = pd.read_csv('district_17.csv')
district_18 = pd.read_csv('district_18.csv')
district_19 = pd.read_csv('district_19.csv')
district_2 = pd.read_csv('district_2.csv')
district_20 = pd.read_csv('district_20.csv')
district_21 = pd.read_csv('district_21.csv')
district_22 = pd.read_csv('district_22.csv')
district_23 = pd.read_csv('district_23.csv')
district_24 = pd.read_csv('district_24.csv')
district_25 = pd.read_csv('district_25.csv')
district_26 = pd.read_csv('district_26.csv')
district_27 = pd.read_csv('district_27.csv')
district_28 = pd.read_csv('district_28.csv')
district_29 = pd.read_csv('district_29.csv')
district_3 = pd.read_csv('district_3.csv')
district_30 = pd.read_csv('district_30.csv')
district_31 = pd.read_csv('district_31.csv')
district_32 = pd.read_csv('district_32.csv')
district_4 = pd.read_csv('district_4.csv')
district_5 = pd.read_csv('district_5.csv')
district_6 = pd.read_csv('district_6.csv')
district_7 = pd.read_csv('district_7.csv')
district_8 = pd.read_csv('district_8.csv')
district_9 = pd.read_csv('district_9.csv')

In [7]:
district_1['DISTRICT'] = '1'
district_2['DISTRICT'] = '2'
district_3['DISTRICT'] = '3'
district_4['DISTRICT'] = '4'
district_5['DISTRICT'] = '5'
district_6['DISTRICT'] = '6'
district_7['DISTRICT'] = '7'
district_8['DISTRICT'] = '8'
district_9['DISTRICT'] = '9'
district_10['DISTRICT'] = '10'
district_11['DISTRICT'] = '11'
district_12['DISTRICT'] = '12'
district_13['DISTRICT'] = '13'
district_14['DISTRICT'] = '14'
district_15['DISTRICT'] = '15'
district_16['DISTRICT'] = '16'
district_17['DISTRICT'] = '17'
district_18['DISTRICT'] = '18'
district_19['DISTRICT'] = '19'
district_20['DISTRICT'] = '20'
district_21['DISTRICT'] = '21'
district_22['DISTRICT'] = '22'
district_23['DISTRICT'] = '23'
district_24['DISTRICT'] = '24'
district_25['DISTRICT'] = '25'
district_26['DISTRICT'] = '26'
district_27['DISTRICT'] = '27'
district_28['DISTRICT'] = '28'
district_29['DISTRICT'] = '29'
district_30['DISTRICT'] = '30'
district_31['DISTRICT'] = '31'
district_32['DISTRICT'] = '32'

In [9]:
district_data = pd.concat([district_1, district_2, district_3, district_4, district_5, district_6, district_7,
                          district_8, district_9, district_10, district_11, district_12, district_13, district_14,
                          district_15, district_16, district_17, district_18, district_19, district_20, district_21,
                          district_22, district_23, district_24, district_25, district_26, district_27, district_28,
                          district_29, district_30, district_31, district_32], axis=0, ignore_index=True)

In [10]:
district_data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [11]:
district_data

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch,DISTRICT
0,Lower East Side Preparatory High School,500,15.6,76.8%,1
1,East Side Community School,678,13.8,65.3%,1
2,Marta Valle High School,149,12.4,93.3%,1
3,Ps 15 Roberto Clemente,191,9.5,84.8%,1
4,Ps 19 Asher Levy,258,7.1,76.7%,1
...,...,...,...,...,...
1509,Bushwick Leaders High School For Academic Exce...,280,10.3,97.1%,32
1510,Bushwick Community High School,202,20.1,86.6%,32
1511,Academy For Environmental Leadership,272,10.8,91.9%,32
1512,Brooklyn School For Math And Research (The),272,12.9,90.1%,32
1513,Evergreen Middle School For Urban Exploration,345,9.5,90.4%,32

In [12]:
district_data.to_csv('district_data.csv')